body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F05033;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    width: 80%;
    border-radius: 10px;
    font-size: 35px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

#logo-ifc {
    width: 400px;
    margin-top: 30px;
}

.events {
    width: 80%;
    background-color:#F05033;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.event {
    width: 550px;
    border-radius: 10px;
    padding: 10px;
    margin: 2.5% 2.5% 2.5% 2.5%;
    background-color: rgb(225, 225, 225);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.event-title {
    font-size: 18px;
    text-align: center;
    height: 5%;
}

.event-info {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 80%;
    margin-left: 2.5%;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(185, 185, 185);
}

.description {
    width: 80%;
    margin-left: 2.5%;
    text-align: justify;
}

.date-hour-place {
    width: 80%;
    text-align: center;
}

.access-button {
    padding: 15px 30px 15px 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F05033;
    border: none;
    border-radius: 10px;
    transition: .2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.access-button:hover {
    cursor: pointer;
    transform: scale(105%);
}